#garrison-link-form
{
    min-width: 650px;
    min-height: 500px;

    display: flex;
    flex-direction: column;

    .loading
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        row-gap: 1em;

        .spinner
        {
            animation: garrison_link-players_spin 2s linear infinite;
            font-size: 5em;
        }

        .message
        {
            font-size: 2.5em;
        }
    }

    .link-adventure
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        > *
        {
            flex: 0;
        }
    }

    .link-players
    {
        display: flex;
        flex-direction: row;
        gap: 5px;

        > .link-cell
        {
            flex: 0 0 auto;

            width: 120px;
            border: 1px solid var(--color-border-dark-1);
            border-radius: 4px;
        
            display: flex;
            flex-direction: column;

            > :not(:last-child)
            {
                border-bottom: 1px solid var(--color-border-light-2);
            }

            > .info
            {
                display: flex;
                flex-direction: column;
                
                align-items: center;

                > .player
                {
                    color: var(--color-text-dark-inactive);
                    font-size: var(--font-size-12);
                }
            }

            > .pic
            {
                box-sizing: content-box;
                display: flex;
                width: 118px;
                height: 118px;

                align-items: center;
                justify-content: center;
                flex: 1 1 auto;

                > img
                {
                    margin: auto;
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;

                    object-fit: contain;
                    border-radius: 0;
                }
            }

            > .input
            {
                display: flex;
                flex-direction: column;
                row-gap: 2px;
                
                align-items: center;

                > select
                {
                    width: 100%;
                }
            }
        }
    }

    .actions
    {
        margin-top: auto;
    }
}

@keyframes garrison_link-players_spin
{
    100%
    {
        transform: rotate(360deg);
    }
}