<div>
    <b>{{localize "Garrison.LinkPlayers.Heading"}}</b>
    <p>{{localize "Garrison.LinkPlayers.Description"}}</p>
    <form>
        <div class="form-group">
            <label>{{localize "Garrison.LinkPlayers.Adventure"}}:</label>
            <select>
                <option value="asdf">asdf</option>
            </select>
        </div>
        <button type="submit" disabled>
            <i class="fa-solid fa-trophy"></i>
            {{localize "Garrison.LinkPlayers.Action"}}
        </button>
    </form>
</div>